# catkin build outputs
build/
devel/
logs/

# ROS runtime files
*.bag
*.bag.active
*.db3

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# editor
.vscode/
.idea/

# binary
*.o
*.so
*.a